header {
  background-color: Brown;
}


h1 {
  color: Yellow;
  text-align: center;
}

.storeName {
  color: Green;
  text-align: center;
}

main {
  background-color: Grey;
  padding: 1em;
}

body {
  background-image: url("record.png");
  margin: 0;
}
